.highlight {
    color: var(--main-color);
    font-weight: bold;
}

.neon {
    color: var(--main-color);
    font-weight: bold;
    animation: neon 2s normal 3 ease-in-out;
}

#social-container .linkedin {
    animation: hover-icon 1s 3 alternate;
}

#social-container .github {
    animation: hover-icon 1s 0.3s 3 alternate;
}

#social-container .insta {
    animation: hover-icon 1s 0.6s 3 alternate;
}

@keyframes neon {
    from {
        filter: drop-shadow(0 0 0 var(--main-color));
    }

    to {
        filter: drop-shadow(0 0 20px var(--main-color));
    }
}

@keyframes hover-icon {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0);
    }
}


.mail,
.whats {
    animation: jello-horizontal 0.9s both;
}

.whats {
    animation-delay: 0.3s;
}



@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}