@media(max-width: 500px) {
    #container {
        flex-direction: column;
    }

    #caixa {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #container-projetos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    #bio-container {
        justify-content: center;
        border-right: none;
        border-bottom: 5px solid var(--bio-border-color);
        height: 100%;
    }

    #bio-container p {
        max-width: 60%;
        margin: 10px auto;
    }

    #about-container {
        text-align: center;
        padding: 30px;
    }

    #about-container .description {
        margin: 10px auto;
        max-width: 100%;
        line-height: 26px;
    }

    .portfolio {
        padding-bottom: 5px;
        padding-top: 0px;
    }

    .portfolio p {
        top: 35%;
        width: 65%;
    }

    .portfolio-inner img {
        filter: grayscale(0%)
    }

    .portfolio img {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 40px;
        text-align: left;
        font-size: 3.75em;
    }

    #btn-projects {
        margin: 20px auto;
    }

    .skills-box {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .skills-box i {
        font-size: 3.75em;
    }
}


@media (max-width: 575px) {
    .portfolio p {
        top: 30%;
        width: 50%;
    }
}