@media screen and (min-width: 767px) and (max-width: 1023px) {
    .nav.visivel {
        width: 50%;
    }

    #artigo {
        padding: 20px;
    }

    .projetos-container {
        grid-template-areas:
        "t t"
        "i i"
        "i i"
        "i i"
        "i i";
    }
}

@media screen and (max-width: 767px) {
    .projetos-container {
        grid-template-areas:
        "t"
        "i"
        "i"
        "i"
        "i";
    }
}