* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

a:nth-of-type(1) {
    font-family: "Roboto", sans-serif;
}

:root {
    --main-color: #0b5ed7;
    --negative: #ffffff;
    --main-text-color: #333333;
    --bio-text-color: #333333;
    --bio-bg-color: #eeeeee;
    --bio-border-color: #eeeeee;
    --about-bg-color: #ffffff;
}

.highlight {
    color: var(--main-color);
    font-weight: bold;
}

.neon {
    color: var(--main-color);
    font-weight: bold;
    animation: neon 2s normal 3 ease-in-out;
}

#container {
    display: flex;
    flex-direction: row;
    color: var(--main-text-color);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#caixa {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    display: none;
}

#bio-container {
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    color: var(--main-text-color);
    text-align: center;
    padding: 40px 12px;
    border-right: 5px solid var(--bio-border-color);
}

#about-container {
    flex: 1 1 80%;
    min-height: 100vh;
    background-color: var(--about-bg-color);
    padding: 50px;
}

#bio-container p {
    margin-bottom: 20px;
}

#bio-container #welcome-text {
    font-weight: bold;
    margin-bottom: 25px;
}

#bio-img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-bottom: 25px;
}

#social-container {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

#social-container li {
    flex: 1 1 0;
    max-width: 60px;
}

#social-container .linkedin {
    animation: hover-icon 1s 3 alternate;
}

#social-container .github {
    animation: hover-icon 1s 0.3s 3 alternate;
}

#social-container .insta {
    animation: hover-icon 1s 0.6s 3 alternate;
}

#social-container li a {
    justify-content: center;
    color: var(--main-color);
    font-size: 40px;
}

#social-container li:hover {
    transform: scale(1.5);
}

#email-container {
    display: flex;
    justify-content: center;
}

#email-container ion-icon,
#email-container a {
    flex: 1 1 0;
}

#email-container a {
    color: var(--main-text-color);
    text-decoration: none;
    max-width: 225px;
}

#email-container ion-icon {
    color: var(--main-color);
    font-size: 20px;
    margin-right: 5px;
    max-width: 20px;
}

#email-container ion-icon:hover {
    transform: scale(1.5);
    cursor: pointer;
}

#email-container a:hover {
    color: var(--main-color);
}

/* dark mode */
.dark-mode {
    background-color: var(--about-bg-color);
    border-radius: 50px;
    cursor: pointer;


    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1.5);
}

.dark-mode .ball {
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.dark-mode .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: var(--main-color);
}

.fa-sun {
    color: var(--main-color);
}

/* about container */

#name {
    font-size: 42px;
    margin-bottom: 10px;
}

#title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

.description {
    max-width: 70%;
    margin-bottom: 20px;
    text-align: center;
    /* visibility: hidden; */
}

#btn-projects ion-icon {
    font-size: 20px;
    max-width: 20px;
    color: var(--main-color);
}

#btn-projects:hover {
    background-color: transparent;
    transform: scale(1.3);
    color: var(--main-color);
}

#skills-section-title {
    border-top: 1px solid var(--border-color);
    color: var(--main-color);
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 32px;
}

#skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.skills-box {
    flex: 1 1 33%;
    max-width: 33%;
    margin-bottom: 35px;
}

.skills-title {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 5px solid var(--main-color);
}

.skills-box i {
    font-size: 45px;
    margin-right: 10px;
}

/* Animações */

@keyframes neon {
    from {
        filter: drop-shadow(0 0 0 var(--main-color));
    }

    to {
        filter: drop-shadow(0 0 20px var(--main-color));
    }
}

@keyframes hover-icon {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0);
    }
}

#container-projetos {
    display: flex;
    flex-direction: row;
    color: var(--main-text-color);
    /* width: 100%; */
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.portfolio {
    position: relative;
    width: 480px;
    display: block;
    float: left;
    padding: 35px;
    padding-bottom: 5px;
    overflow: hidden;
}

.portfolio img {
    width: 100%;
}

/* texto */
.portfolio p {
    visibility: hidden;
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
    color: transparent;
    transition: all 0.2s;
    line-height: 23px;
    font-weight: bold;
}

/* texto hover */
.portfolio:hover p {
    color: var(--main-text-color);
    bottom: 30%;
    visibility: visible;
}

/* botao */
.portfolio:hover .portfolio-inner p a {
    text-decoration: none;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    display: block;
    font-size: 13px;
    width: 80px;
    padding: 5px;
    margin: 0 auto;
    font-weight: bold;
}

/* animacao hover */
.portfolio-inner:hover img {
    transform: scale(1.3);
    transition: all 0.5s;
    filter: grayscale(0%);
    opacity: 0.3;
}

/* cinza */
.portfolio-inner img {
    filter: grayscale(100%)
}

/* botao */
.portfolio-inner a {
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid transparent;
    padding: 5px;
}

#social-footer {
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 25px;
    padding-top: 30px ;
    padding-bottom: 25px;
    bottom: 10%;
}

#footer p a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
}

#social-footer li {
    color: var(--main-color);
    flex: 1 1 0;
    justify-content: center;
    max-width: 20%;
    font-size: 40px;
}

#social-footer ion-icon {
    color: var(--main-color);
}

#social-footer li:hover {
    transform: scale(1.5);
} 

/* mobile */
@media(max-width: 750px) {
    #container {
        flex-direction: column;
    }

    #caixa {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #container-projetos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    #bio-container {
        justify-content: center;
        border-right: none;
        border-bottom: 5px solid var(--bio-border-color);
        height: 100%;
    }

    #bio-container p {
        max-width: 60%;
        margin: 10px auto;
    }

    #about-container {
        text-align: center;
        padding: 30px;
    }

    #about-container .description {
        margin: 10px auto;
        max-width: 100%;
        line-height: 26px;
    }

    .portfolio {
        padding-bottom: 5px;
        padding-top: 0px;
    }

    .portfolio p {
        top: 35%;
        width: 70%;
    }

    .portfolio-inner img {
        filter: grayscale(0%)
    }

    .portfolio img {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 40px;
        text-align: left;
        font-size: 60px;
    }

    #btn-projects {
        margin: 20px auto;
    }

    .skills-box {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .skills-box i {
        font-size: 60px;
    }
}