* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a:nth-of-type(1) {
    font-family: "Roboto", sans-serif;
}

:root {
    --main-color: #0b5ed7;
    --main-text-color: #333333;
    --main-bg-color: #eeeeee;
    --bg-color: #ffffff;
}

.highlight {
    color: var(--main-color);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color)
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 20px;
}

/* Navbar */
.navbar-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 2em;
}

.open-btn,
.close-btn {
    color: var(--main-color);
    position: fixed;
    top: 10px;
    left: 10px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.nav.visivel {
    transform: translateX(0);
    background-color: var(--main-bg-color);
    width: 25%;
    transition-delay: 0.1s;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.navegacao,
.navegacao li,
.navegacao li a{
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: var(--main-text-color);
}

.navegacao li a:hover {
    color: var(--main-color);
}

/* Dark Mode */
input{
    display: none;
}

.dark-mode {
    background-color: var(--bg-color);
    border-radius: 3.125em;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.313em;
    position: relative;
    margin-left: 65px;
    height: 1.625em;
    width: 3.125em;
    transform: scale(1.5);
}

.dark-mode .ball {
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 0.125em;
    left: 0.125em;

    height: 1.375em;
    width: 1.375em;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.dark-mode .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: var(--main-color);
}

.fa-sun {
    color: var(--main-color);
}

/* Principal */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main-text-color);
    background-color: var(--bg-color);
}

.imagem {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#welcome-text {
    font-weight: bold;
    margin: 10px;
}

#social-container {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

#social-container li {
    flex: 1 1 0;
    max-width: 3.75em;
}

#social-container li a {
    justify-content: center;
    color: var(--main-color);
    font-size: 2.5em;
}

#email-container li {
    list-style: none;
    text-align: left;
}

#email-container li i {
    color: var(--main-color);
}

#email-container li a{
    text-decoration: none;
    color: var(--main-text-color);
    padding: 5px;
}

/* Sobre */
#nome {
    color: var(--main-color);
    font-size: 2em;
}

.descricao {
    padding: 15px;
}

#artigo a{
    text-decoration: none;
    color: var(--main-color);
}

@media(max-width: 700px) {
    .nav.visivel {
        width: 50%;
    }

    #artigo {
        padding: 20px;
    }
}