#maintenance {
  position: fixed;
  overflow-y: hidden;
  z-index: 9999;
  background: var(--bg-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.maintenance {
  border: 12px solid var(--main-color);
  border-top: 12px solid var(--bg-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 3s linear infinite;
}

.h2Maintenance {
  margin: 10px;
  color: var(--main-text-color);
}

h4 {
  color: var(--main-text-color);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
