.progress {
    height: .5rem;
    width: 0%;
    position: fixed;
    background-color: var(--main-color);
    z-index: 1000;
}

.highlight {
    color: var(--main-color);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main-text-color);
    background-color: var(--bg-color);
}

.imagem {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#welcome-text {
    font-weight: bold;
    margin: 10px;
}

#social-container {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

#social-container li {
    flex: 1 1 0;
    max-width: 3.75em;
}

#social-container li a {
    justify-content: center;
    color: var(--main-color);
    font-size: 2.5em;
}

#email-container li {
    list-style: none;
    text-align: left;
}

#email-container li i {
    color: var(--main-color);
}

#email-container li a {
    text-decoration: none;
    color: var(--main-text-color);
    padding: 5px;
}

#email-container li a:hover {
    color: var(--main-color);
}