.techContainer {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;    
    align-items: center;
    text-align: center;
    color: var(--main-text-color);
    background-color: var(--bg-color);
}

.techIcons {
    font-size: 4em;
    margin: 0;
    padding: 0;
}
