.open-btn:hover,
.close-btn:hover,
#social-container li:hover {
    transform: scale(1.3);
}

.btn-cv {
    font-weight: bold;
    font-size: 1em;
    color: var(--bg-color);
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 10px;
    text-decoration: none;
    transition: .5s;
    margin: 25px;
    padding: 12px;
    cursor: pointer;
}

.btn-cv:hover {
    background-color: transparent;
    color: var(--main-color);
}

#btn-projeto {
    background-color: var(--bg-color);
    color: var(--main-text-color);
    border-radius: 10em;
    font-size: 1em;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: 1px solid var(--main-text-color);
    box-shadow: 0 0 0 0 var(--main-text-color);
    text-decoration: none;
}

#btn-projeto:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 var(--main-text-color);
}

#btn-projeto:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 var(--main-text-color);
}

#fechar-modal {
    color: var(--fix-color);
    cursor: pointer;
    padding: .20em;
    font-size: 1.5em;
    border: none;
    background-color: #FFF;
}